body {
    padding: 0;
    font-family: 'Merriweather Sans', sans-serif;
    margin: 5px 80px 0px;
    background-color: #FEE3EC;
    align-content: center;
}
/* top section css */
.name {
    color:#DB6B97;
}
.header {
   border-image-slice: 1;
   font-size:25px;
   border-left:5px solid ;
   border-image: linear-gradient(#EA5C2B,#FF7F3F);
   border-image-slice: 1;
   font-family: 'Lobster', cursive;
}
.link-button {
    text-decoration: none;
    color: white;
    background-image: linear-gradient(#EA5C2B,#FF7F3F);
    padding: 10px 40px;
    border-radius: 5px;
    margin-bottom: 5px;
}
.link-button:hover {
    text-decoration: none;
    color: white;
    background-image: linear-gradient(cyan, blue);
    padding: 10px 40px;
    border-radius: 5px;
    margin-bottom: 5px;
}


.intro-section {
    display: flex;
}
.intro-pic {
    height: 300px;
    width:65%;
    float:right;
    padding: 10px;
    padding-top: 10px;
    
}
.intro-para {
    width:60%;
    padding: 10px;
    text-align: justify;

    
}

.intro-image {
    width: 40%;
    padding: 10px;
}
/* middle section css */
.skills-section {
    padding-bottom: 10px;
}
.skills-h1 {
    font-size:40px;
    font-family: 'Lobster', cursive;
    text-align: center;
}
.skills-div{
    display: flex;
    
}
.python{
    background-color: #BAABDA;
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
    width: 33%;
    text-align: justify;
}
.Django {
    background-color: #F3C892;
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
    width: 33%;
    text-align: justify;
}
.keras {
    background-color: #FF8243;
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
    width: 33%;
    text-align: justify;
}
.skills-image {
    height: 100px;
    width: 100px;
}